################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/abtest/v15/.suo
/node_modules
/bower_components
/website.publishproj
/package-lock.json
