<div class="agentsdetailscontainer" data-title="{{data.title}}">
    <div class="" ng-controller="agentController as ctrl" ng-init="ctrl.init({{{data.agentId}}})">
        <div ng-if="ctrl.agent">
            <agent-details ng-show="ctrl.agent" agent="ctrl.agent"></agent-details>
        </div>
    </div>
</div>