<div class="sliderParent" data-title="{{data.title}}">
    <div class="rightSideContent">
        <div>
            <div class="sold-properties">
                <bx-slider url="api/getSoldProperties" showdetails="true" />
            </div>
        </div>
        <div>
            <div class="rightSideSliderParent">
                <div class="rightSideSliderContent">
                    <h3>Don't miss these properties</h3>
                    <div class="un-sold-properties">
                        <bx-slider url="api/getUnSoldProperties" showdetails="true" />
                    </div>
                </div>
            </div>
            <div class="rightSideWrittenContent">
                <h1>AB Property Consultants</h1>
                <div>
                    <p>
                        AB is a revolution in real estate focused on customer service whether you are a tenant,property owner or landlord via innovative technology.
                    </p>
                    <p>
                        AB offers a fresh perspective and a level of energy rarely seen with a genuine interest in meeting new people and achieving best possible outcome for clients.
                    </p>
                    <!--<ul class="contentPoints">
                    <li>We give our best service to our clients with positive outcomes, which we have been doing so far.</li>

                    <li>We believe in our ability to get the best price to our clients with our qualitative marketing strategies.</li>

                    <li>We have a really good exposure on different websites like domain.com and real estate.com</li>

                    <li>We are flexible and are available 7 days a week even on public holidays to get the best to our clients - the positive outcomes.</li>

                    <li>We do have exposure in social media networking like face book, twitter, etc which is a key success and an ultimate goal to market the property and sell faster. </li>
                    </ul>-->
                </div>
            </div>

        </div>
    </div>

</div>