<div class="propertydetailscontainer">
    <div class="" ng-controller="propertyController as ctrl" ng-init="ctrl.init({{{data.uniqueId}}})">
        <div ng-if="ctrl.property">
            <property-details ng-show="ctrl.property" property="ctrl.property"></property-details>
        </div>
    </div>
</div>