<form class="form-horizontal" role="form" name="propertyApprisalForm" novalidate ng-class="{true: 'error'}[submitted && propertyApprisalForm.email.$invalid]">
    <h3>Property Appraisal</h3>
    <div class="form-group" ng-class="{'has-error': submitted && propertyApprisalForm.fullname.$invalid}">
        <label class="control-label col-sm-2" for="fullname">Full Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="fullname" ng-model="fullname" placeholder="Enter fullname" required>
            <span class="help-inline" ng-show="submitted && propertyApprisalForm.fullname.$error.required">Fullname is required</span>
        </div>
    </div>    
    <div class="form-group" ng-class="{'has-error': submitted && propertyApprisalForm.email.$invalid}">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter email" required data-error="Bruh, that email address is invalid">
            <span class="help-inline" ng-show="submitted && propertyApprisalForm.email.$error.required">Email is required</span>
            <span class="help-inline" ng-show="submitted && propertyApprisalForm.email.$error.email">Invalid email</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && propertyApprisalForm.phoneNumber.$invalid}">
        <label class="control-label col-sm-2" for="email">Phone number:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="phoneNumber" ng-model="phoneNumber"  pattern="^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{1}(\ |-){0,1}[0-9]{3}$" value="" name="phones_pattern1" id="phones_pattern1" list="phones_pattern1_datalist" placeholder="Enter phone number">
            <span class="help-inline" ng-show="submitted && propertyApprisalForm.phoneNumber.$error.pattern">Invalid phone number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && propertyApprisalForm.propertyAddress.$invalid}">
        <label class="control-label col-sm-2" for="propertyAddress">Property Address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="propertyAddress" ng-model="propertyAddress" placeholder="Enter property address" required>
            <span class="help-inline" ng-show="submitted && propertyApprisalForm.propertyAddress.$error.required">Property address is required</span>
        </div>
    </div>    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info" ng-disabled="buttonDisabled" ng-click="submitForm()">Submit</button>
        </div>
    </div>
</form>